.banner {
    background-color: blue;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 1rem;
    border: black 1px solid;
    margin: 1em;
    box-shadow: black 0 0 4px;
    border-radius: .2em .2em;
    padding-top: .5em;
    padding-bottom: .5em;
}